{% extends "auth/formcontainer.html" %}

{% block content %}
<h3 style="margin-bottom:40px">Statistiikka</h3>

<div class="card bg-light">
  <div class="card-header">
    <h5>Käyttäjät ({{ users | length }})</h5>
  </div>
  <div class="card-body">
      <table class="table table-striped table-dark table-bordered table-hover" style="table-layout:fixed">
          <thead>
            <tr>
              <th scope="col" style="width:45%">Käyttäjätunnus</th>
              <th scope="col" style="width:25%">Rooli</th>
              <th scope="col" style="width:30%">Liittynyt</th>
            </tr>
          </thead>
          <tbody>
          {% for u in users %}
          <tr>
            <th scope="row" style="overflow-wrap:break-word">
              <a href="{{ url_for('profile_show', account_id=u.id) }}">{{ u.username }}</a>
              {% if current_user.is_authenticated and "ADMIN" in current_user.get_roles() %}
              <button style="font-size:10px" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUserModal" data-account_id="{{ u.id }}" data-account_username="{{ u.username }}">
                Poista
              </button>
              {% endif %}
            </th>
            <td>
              {{ u.get_roles()[0] }}
              {% if current_user.is_authenticated and "ADMIN" in current_user.get_roles() and u.id != current_user.id %}
              <form style="display:inline" method="POST" action="{{ url_for('toggle_role', account_id=u.id) }}">
                <input style="font-size:10px;margin-left:5px" type="submit" class="btn btn-primary btn-sm" value="Muuta roolia" />
              </form>
              {% endif %}
            </td>
            <td style="overflow-wrap:break-word">{{ u.date_created }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Haluatko varmasti poistaa käyttäjän?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="overflow-wrap:break-word">
          <span id="account_username" style="font-weight:bold;color:blue"></span><br /><br />
          Poistamalla käyttäjän myös kaikki käyttäjän viestit ja keskustelut poistetaan.<br /><br />
          Toimintoa ei voi perua.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
          <form id="deleteForm" method="POST" action="#">
            <input type="submit" class="btn btn-danger" value="Poista käyttäjä" />
          </form>
        </div>
      </div>
    </div>
  </div>

  {% block scripts %}
    <script>
      $(document).ready(function() {
        $('#deleteUserModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var account_id = button.data('account_id') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var account_name = button.data('account_username')
          var url = "/profile/" + account_id + "/delete"
          var modal = $(this)
          modal.find('#deleteForm').attr("action", url)
          modal.find('#account_username').text(account_name)
        });
      });
    </script>
  {% endblock %} 

{% endblock %}