{% extends "layout.html" %}

{% block body %}
  <table class="table table-striped table-dark table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">
          <div style="display:flex;justify-content:space-between;">
            <div><a href="{{ url_for('categories_index') }}">Categories</a> / <a href="{{ url_for('topics_index', category_id=category.id) }}">{{ category.name }}</a> / {{ topic.name }}</div>
            {% if current_user.is_authenticated %}
            <div><a href="{{ url_for('messages_form', topic_id=topic.id) }}">Add a new message</a></div>
            {% endif %}
          </div>
        </th>
      </tr>
    </thead>
  </table>


  {% for message in messages %}
  <div class="card bg-light" style="margin-bottom:10px">
    <div class="card-header" style="display:flex;justify-content:space-between;">
      <a href="{{ url_for('profile_show', account_id=message.account.id) }}">{{ message.account.username }}</a>
      {{ message.message.created }}
    </div>
    <div class="card-body">
      <p class="card-text">{{ message.message.message }}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}