{% extends "layout.html" %}

{% block body %}
  <table class="table table-striped table-dark table-bordered table-hover" style="table-layout:fixed">
    <thead>
      <tr>
        <th scope="col">
          <div style="display:flex;justify-content:space-between;">
            <div style="overflow-wrap:break-word;width:80%"><a style="color:white" href="{{ url_for('categories_index') }}">Aihealueet</a> / <a style="color:white" href="{{ url_for('topics_index', category_id=category.id) }}">{{ category.name }}</a> / {{ topic.name }}</div>
            {% if current_user.is_authenticated %}
            <div style="width:15%;overflow-wrap:break-word"><a href="{{ url_for('messages_form', topic_id=topic.id) }}">Uusi viesti</a></div>
            {% endif %}
          </div>
        </th>
      </tr>
    </thead>
    {% if topic.description and topic.description != "" %}
    <tbody>
      <tr>
        <td>
          <div class="card bg-light" style="margin-bottom:10px">
            <div class="card-header" style="display:flex;justify-content:space-between;">
              <div style="color:black">Tekijän username</div>
              <div style="color:black">{{ topic.date_created }}</div>
            </div>
            <div class="card-body">
              <p class="card-text" style="color:black">{{ topic.description }}</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    {% endif %}
  </table>


  {% for message in messages %}
  <div class="card bg-light" style="margin-bottom:10px">
    <div class="card-header" style="display:flex;justify-content:space-between;">
      <a href="{{ url_for('profile_show', account_id=message.account.id) }}">{{ message.account.username }}</a>
      {{ message.message.created }}
    </div>
    <div class="card-body">
      <p class="card-text">{{ message.message.message }}</p>
    </div>
  </div>
  {% endfor %}
{% endblock %}