{% extends "auth/formcontainer.html" %}

{% block content %}
<h3 style="margin-bottom:20px">Uusi viesti</h3>
{{ error }}
<form method="POST" action="{{ url_for('add_new_message', topic_id=topic_id) }}">
  <div class="form-group">
    {{ form.message(type="text", class="form-control", id="message", placeholder="Viesti", rows=6) }}
    <ul>
      {% for error in form.message.errors %}
        <li><div>{{ error }}</div></li>
      {% endfor %}
    </ul>
  </div>
  <button type="submit" class="btn btn-dark">Lähetä</button>
</form>
{% endblock %}
