{% extends "layout.html" %}

{% block body %}
<div id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="width:90%;overflow-wrap: break-word" class="modal-title" id="exampleModalLabel">
          <h5>
            Haluatko varmasti poistaa keskustelun<br />
           - {{ topic.name }}
           </h5>
        </div>
        {% if from_where == "listing" %}
        <a class="close" aria-label="Close" href="{{ url_for('topics_index', category_id=topic.category_id) }}">
          <span aria-hidden="true">&times;</span>
        </a>
        {% else %}
        <a class="close" aria-label="Close" href="{{ url_for('messages_index', topic_id=topic.id) }}">
          <span aria-hidden="true">&times;</span>
        </a>
        {% endif %}
      </div>
      <div class="modal-body">
        Poistamalla keskustelun, myös kaikki sen viestit poistetaan.<br /><br />
        Toimintoa ei voi perua.
      </div>
      <div class="modal-footer">
        {% if from_where == "listing" %}
        <a class="btn btn-secondary" href="{{ url_for('topics_index', category_id=topic.category_id) }}">Peruuta</a>
        {% else %}
        <a class="btn btn-secondary" href="{{ url_for('messages_index', topic_id=topic.id) }}">Peruuta</a>
        {% endif %}
        <form method="POST" action="{{ url_for('topics_delete', topic_id=topic.id) }}">
          <input type="submit" class="btn btn-danger" value="Poista keskustelu" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}