{% extends "layout.html" %}

{% block body %}
  <table class="table table-striped table-dark table-bordered table-hover" style="table-layout:fixed">
    <thead>
      <tr>
        <th scope="col" style="width:70%">
          <div style="display:flex;justify-content:space-between;">
            <div style="width:70%;overflow-wrap:break-word"><a style="color:white" href="{{ url_for('categories_index') }}">Aihealueet</a> / {{ category.name }}</div>
            {% if current_user.is_authenticated %}
            <div style="width:25%;overflow-wrap:break-word"><a href="{{ url_for('topics_form', category_id=category.id) }}">Aloita keskustelu</a></div>
            {% endif %}
          </div>
        </th>
        <th scope="col" style="width:15%">
          <form id="latest-form-id" method="post" action="{{ url_for('topics_sort', category_id=category.id) }}">
            <a href="#" onclick="document.getElementById('latest-form-id').submit()">Viimeisin viesti</a>
            <input type="hidden" name="order_by" id="order_by" value="latest_message">
            {% if order_by == "latest_message" and order == "desc" %}
            <input type="hidden" name="order" id="order" value="asc">
            {% else %}
            <input type="hidden" name="order" id="order" value="desc">
            {% endif %}
            </form>
        </th>
        <th scope="col" style="width:15%">
          <form id="created-form-id" method="post" action="{{ url_for('topics_sort', category_id=category.id) }}">
              <a href="#" onclick="document.getElementById('created-form-id').submit()">Aloitettu</a>
              <input type="hidden" name="order_by" id="order_by" value="created">
              {% if order_by == "created" and order == "desc" %}
              <input type="hidden" name="order" id="order" value="asc">
              {% else %}
              <input type="hidden" name="order" id="order" value="desc">
              {% endif %}
          </form>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
      <tr>
        <th scope="row" style="overflow-wrap:break-word;"><div><a href="{{ url_for('messages_index', topic_id=topic.topic.id) }}">{{ topic.topic.name }}</a></div></th>
        <td style="overflow-wrap:break-word;font-size:10px">{{ topic.latest_message.created }}<br /><a href="{{ url_for('profile_show', account_id=topic.latest_message.creator_id) }}">{{ topic.latest_message.creator_username }}</a></td>
        <td style="overflow-wrap:break-word;font-size:10px">{{ topic.topic.created }}<br /><a href="{{ url_for('profile_show', account_id=topic.topic.creator_id) }}">{{ topic.topic.creator_username }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}